.card-container {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  margin: 25px auto;
  background: rgba(51, 51, 51, 0.9);
  width: 300px;
  max-width: 100%;
  font-size: 15px;
  text-wrap: balance;
  transition: transform 0.2s ease-in-out;
}

.card-container:hover {
  transform: scale(1.08);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#genres {
  padding-left: 5px;
  padding-right: 5px;
}

.poster {
  width: 100%;
  height: 69%;
  border-bottom: 1px solid black;
}

.poster.hovered {
  transition: transform 3s ease;
}

.info {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: white;
}

.info p {
  padding: 0;
  font-size: 0.9rem;
}
.info > .rating {
  padding-bottom: 0;
}
.rating {
  margin-bottom: 5px;
  margin-right: 5.1%;
}

.info h3 {
  padding-left: 0.4rem;
  margin-top: 0;
  font-size: 19px;
}

.vote-count {
  margin: 0;
}

.genres {
  padding-top: 12px;
  height: 60px;
}

.movie-title {
  height: 40px;
}

.card-container-small {
  margin: 0 9%;
}

@media (max-width: 480px) {
  .card-container {
    border: 1px solid rgba(black, black, black, 0.9);
    border-radius: 8px;
    overflow: hidden;
    margin: 25px auto;
    background: rgba(51, 51, 51, 0.9);
    width: 300px;
    max-width: 80%;
    font-size: 15px;
    text-wrap: balance;
    transition: all 0.2s ease-in-out;
  }

  .card-container:hover {
    transform: scale(1.1) !important;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .card-container {
    border: 1px solid rgba(black, black, black, 0.9);
    border-radius: 8px;
    overflow: hidden;
    margin: 25px auto;
    background: rgba(51, 51, 51, 0.9);
    width: 300px;
    max-width: 90%;
    font-size: 15px;
    text-wrap: balance;
    transition: all 0.2s ease-in-out;
  }

  .card-container:hover {
    transform: scale(1.1) !important;
    cursor: pointer;
  }
  .card-container img {
    width: 600;
    height: auto;
    max-width: fit-content;
  }
  .rating {
    margin-right: 13%;
  }
}

@media (max-width: 1201) {
  .card-container {
    border: 1px solid rgba(black, black, black, 0.9);
    border-radius: 8px;
    overflow: hidden;
    margin: 25px auto;
    background: rgba(51, 51, 51, 0.9);
    width: 300px;
    max-width: 100%;
    font-size: 15px;
    text-wrap: balance;
    transition: all 0.2s ease-in-out;
  }

  .card-container:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

/* FavouriteCard */

.favourite-grid {
  margin-top: 5%;
  margin-left: 1.9%;
  display: flex;
  flex-wrap: wrap;
}

.poster-overlay-container {
  position: relative;
}
.card-container-favourite:hover .heart-button-favourite {
  opacity: 1;
}

.heart-button-favourite {
  position: absolute;
  bottom: 0;
  transform: translate(76%, -150%);
  background: none;
  border: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1001;
}

.card-overlay-favourite {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.726);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-container-favourite:hover .card-overlay-favourite {
  opacity: 1;
}

.card-container-favourite:hover .heart-button {
  opacity: 1;
}

.card-container-favourite {
  position: relative;
  display: flex;
  width: 440px;
  max-height: 270px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.flex-center-container {
  position: relative;
  padding: 1%;
  background-color: rgba(49, 49, 49, 0.9);
  color: rgb(151 151 151);
  justify-content: space-around;
  align-items: center;
}

.poster-favourite {
  width: 180px;
  height: auto;
}

.info-container-favourite {
  margin-top: 3%;
  font-size: 0.2em;
  padding: 10px;
  padding-bottom: 0;
  text-align: center;
}
.info-container-favourite > h5 {
  position: absolute;
  top: 2px;
  color: white;
}
.info-container-favourite > p {
  padding-top: 3%;
  font-size: 0.8rem;
}
.info-container-favourite .link {
  color: white;
}
.info-container-favourite .rating-favourite {
  color: white;
  position: absolute;
  padding: 0;
  bottom: 30%;
  right: 43%;
  margin: 0;
}

.providers-container-fav {
  position: absolute;
  bottom: 4%;
  left: 5%;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 2em;
  background-color: #747474;
}
.providers-fav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.providers-container-fav p {
  text-shadow: 1px 1px 2px red;
  font-size: 1vw;
  letter-spacing: 1px;
}

.no-streaming-paragraph-fav {
  position: absolute;
  bottom: 0%;
  left: 5%;
  right: 5%;
  text-shadow: 1px 1px 2px red;
  font-size: 1vw;
  letter-spacing: 1px;
}

.provider-logo-fav {
  width: 30px;
  border-radius: 20%;
}
.provider-logo-fav:hover {
  cursor: pointer;
}

@media screen and (max-width: 1025px) {
  .favourite-grid {
    margin-top: 9%;
  }
  .card-container-favourite {
    width: 312.5px;
    height: auto;
    margin: 5px;
  }

  .poster-favourite {
    width: 90px;
  }

  .info-container-favourite {
    font-size: 0.7em;
  }

  .info-container-favourite h5 {
    font-size: 0.8em;
  }

  .info-container-favourite p {
    font-size: 0.7em;
  }

  .info-container-favourite .rating-favourite {
    font-size: 0.7em;
    bottom: 28%;
    right: 46%;
  }

  .providers-container-fav {
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .providers-container-fav p,
  .no-streaming-paragraph-fav {
    font-size: 0.7em;
    margin-bottom: 5.5px;
  }

  .provider-logo-fav {
    width: 15px;
  }
}
@media screen and (max-width: 821px) {
  .favourite-grid {
    margin-top: 10%;
  }
  .card-container-favourite {
    width: 376px;
    height: auto;
    margin: 5px;
  }

  .poster-favourite {
    width: 90px;
  }

  .info-container-favourite {
    font-size: 0.7em;
  }

  .info-container-favourite h5 {
    font-size: 0.8em;
  }

  .info-container-favourite p {
    font-size: 0.7em;
  }

  .info-container-favourite .rating-favourite {
    font-size: 0.7em;
    bottom: 28%;
    right: 46%;
  }

  .providers-container-fav {
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .providers-container-fav p,
  .no-streaming-paragraph-fav {
    font-size: 0.7em;
    margin-bottom: 5.5px;
  }

  .provider-logo-fav {
    width: 15px;
  }
}
@media screen and (max-width: 769px) {
  .favourite-grid {
    margin-top: 11%;
  }
  .card-container-favourite {
    width: 359px;
    height: auto;
    margin: 5px;
  }

  .poster-favourite {
    width: 90px;
  }

  .info-container-favourite {
    font-size: 0.7em;
  }

  .info-container-favourite h5 {
    font-size: 0.8em;
  }

  .info-container-favourite p {
    font-size: 0.7em;
  }

  .info-container-favourite .rating-favourite {
    font-size: 0.7em;
    bottom: 28%;
    right: 46%;
  }

  .providers-container-fav {
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .providers-container-fav p,
  .no-streaming-paragraph-fav {
    font-size: 0.7em;
    margin-bottom: 5.5px;
  }

  .provider-logo-fav {
    width: 15px;
  }
}

@media screen and (max-width: 485px) {
  .favourite-grid {
    margin-top: 20%;
  }
  .card-container-favourite {
    width: 299px;
    height: auto;
    margin: 5px;
  }

  .poster-favourite {
    width: 90px;
  }

  .info-container-favourite {
    font-size: 0.7em;
  }

  .info-container-favourite h5 {
    font-size: 0.8em;
  }

  .info-container-favourite p {
    font-size: 0.7em;
  }

  .info-container-favourite .rating-favourite {
    font-size: 0.7em;
    bottom: 28%;
    right: 46%;
  }

  .providers-container-fav {
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .providers-container-fav p,
  .no-streaming-paragraph-fav {
    font-size: 0.7em;
    margin-bottom: 5.5px;
  }

  .provider-logo-fav {
    width: 15px;
  }
}
@media screen and (max-width: 431px) {
  .favourite-grid {
    margin-top: 18%;
  }
  .card-container-favourite {
    width: 404px;
    height: auto;
    margin: 5px;
  }

  .poster-favourite {
    width: 90px;
  }

  .info-container-favourite {
    font-size: 0.7em;
  }

  .info-container-favourite h5 {
    font-size: 0.8em;
  }

  .info-container-favourite p {
    font-size: 0.7em;
  }

  .info-container-favourite .rating-favourite {
    font-size: 0.7em;
    bottom: 28%;
    right: 46%;
  }

  .providers-container-fav {
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .providers-container-fav p,
  .no-streaming-paragraph-fav {
    font-size: 0.7em;
    margin-bottom: 5.5px;
  }

  .provider-logo-fav {
    width: 15px;
  }
}
@media screen and (max-width: 415px) {
  .favourite-grid {
    margin-top: 17%;
  }
  .card-container-favourite {
    width: 388px;
    height: auto;
    margin: 5px;
  }

  .poster-favourite {
    width: 90px;
  }

  .info-container-favourite {
    font-size: 0.7em;
  }

  .info-container-favourite h5 {
    font-size: 0.8em;
  }

  .info-container-favourite p {
    font-size: 0.7em;
  }

  .info-container-favourite .rating-favourite {
    font-size: 0.7em;
    bottom: 28%;
    right: 46%;
  }

  .providers-container-fav {
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .providers-container-fav p,
  .no-streaming-paragraph-fav {
    font-size: 0.7em;
    margin-bottom: 5.5px;
  }

  .provider-logo-fav {
    width: 15px;
  }
}
@media screen and (max-width: 391px) {
  .favourite-grid {
    margin-top: 17%;
  }
  .card-container-favourite {
    width: 366px;
    height: auto;
    margin: 5px;
  }

  .poster-favourite {
    width: 90px;
  }

  .info-container-favourite {
    font-size: 0.7em;
  }

  .info-container-favourite h5 {
    font-size: 0.8em;
  }

  .info-container-favourite p {
    font-size: 0.7em;
  }

  .info-container-favourite .rating-favourite {
    font-size: 0.7em;
    bottom: 28%;
    right: 46%;
  }

  .providers-container-fav {
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .providers-container-fav p,
  .no-streaming-paragraph-fav {
    font-size: 0.7em;
    margin-bottom: 5.5px;
  }

  .provider-logo-fav {
    width: 15px;
  }
}
@media screen and (max-width: 376px) {
  .favourite-grid {
    margin-top: 19%;
  }
  .card-container-favourite {
    width: 351px;
    height: auto;
    margin: 5px;
  }

  .poster-favourite {
    width: 90px;
  }

  .info-container-favourite {
    font-size: 0.7em;
  }

  .info-container-favourite h5 {
    font-size: 0.8em;
  }

  .info-container-favourite p {
    font-size: 0.7em;
  }

  .info-container-favourite .rating-favourite {
    font-size: 0.7em;
    bottom: 28%;
    right: 46%;
  }

  .providers-container-fav {
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .providers-container-fav p,
  .no-streaming-paragraph-fav {
    font-size: 0.7em;
    margin-bottom: 5.5px;
  }

  .provider-logo-fav {
    width: 19px;
  }
}
@media screen and (max-width: 361px) {
  .favourite-grid {
    margin-top: 17%;
  }
  .card-container-favourite {
    width: 336px;
    height: auto;
    margin: 5px;
  }

  .poster-favourite {
    width: 90px;
  }

  .info-container-favourite {
    font-size: 0.7em;
  }

  .info-container-favourite h5 {
    font-size: 0.8em;
  }

  .info-container-favourite p {
    font-size: 0.7em;
  }

  .info-container-favourite .rating-favourite {
    font-size: 0.7em;
    bottom: 28%;
    right: 46%;
  }

  .providers-container-fav {
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .providers-container-fav p,
  .no-streaming-paragraph-fav {
    font-size: 0.7em;
    margin-bottom: 5.5px;
  }

  .provider-logo-fav {
    width: 15px;
  }
}
@media screen and (max-width: 321px) {
  .favourite-grid {
    margin-top: 19%;
  }
  .card-container-favourite {
    width: 298px;
    height: auto;
    margin: 5px;
  }

  .poster-favourite {
    width: 90px;
  }

  .info-container-favourite {
    font-size: 0.7em;
  }

  .info-container-favourite h5 {
    font-size: 0.8em;
  }

  .info-container-favourite p {
    font-size: 0.7em;
  }

  .info-container-favourite .rating-favourite {
    font-size: 0.7em;
    bottom: 28%;
    right: 46%;
  }

  .providers-container-fav {
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .providers-container-fav p,
  .no-streaming-paragraph-fav {
    font-size: 0.7em;
    margin-bottom: 5.5px;
  }

  .provider-logo-fav {
    width: 15px;
  }
}
