svg {
  cursor: pointer;
  overflow: visible;
  width: 60px;
}

#heart {
  transform-origin: center;
  animation: animateHeartOut 0.3s linear forwards;
}

#main-circ {
  transform-origin: 29.5px 29.5px;
}

#checkbox {
  display: none;
}

#checkbox:checked + label svg {
  #heart {
    transform: scale(1);
    fill: #e2264d;
    animation: animateHeart 0.3s linear forwards 0.05s;
  }
  #main-circ {
    transition: all 2s;
    animation: animateCircle 0.3s linear forwards;
    opacity: 1;
  }

  #grp1,
  #grp2,
  #grp3,
  #grp4,
  #grp5,
  #grp6,
  #grp7 {
    opacity: 1;
    transition: 0.1s all 0.3s;
  }

  #grp2,
  #grp3,
  #grp4,
  #grp5,
  #grp6,
  #grp7 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
  }
}

/* Nuevas reglas para las serpentinas */
#checkbox:checked + label svg #main-circ {
  animation: animateCircleOut 0.3s linear forwards 0.02s;
}

#checkbox:checked + label svg #grp1,
#checkbox:checked + label svg #grp2,
#checkbox:checked + label svg #grp3,
#checkbox:checked + label svg #grp4,
#checkbox:checked + label svg #grp5,
#checkbox:checked + label svg #grp6,
#checkbox:checked + label svg #grp7 {
  opacity: 0;
}

@keyframes animateCircleOut {
  0% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes animateHeart {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animateHeartOut {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
