.background-image {
  position: relative;
  background-size: "cover",
}

.overlay {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}


.providers-container {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  gap: 15px;
}

.providers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.provider-logo {
  width: 60px;
  border-radius: 20%;
}
.provider-logo:hover {
  cursor: pointer;
}

.heart-button-details-page {
  padding-top: 15%;
  background: none;
  border: none;
  transition: opacity 0.3s ease;
  filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.7));
}

.movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  z-index: 2;
}

.movie-content-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 100%;
  height: 100%;
  margin: 0;
}

.movie-left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 50%;
  margin-left: 30px;
}

.h1-container {
  text-align: center;
  text-wrap: balance;
}

.movie-left-content h1,
.movie-left-content h2 {
  font-weight: 600;
  font-size: 2.1vw;
  text-shadow: 1px 1px 1px black;
}

.movie-left-content h2 {
  font-weight: 600;
  font-size: 2.1vw;
}

p {
  font-size: 1.1vw;
}

.overview {
  display: flex;
  justify-content: left;
}

.movie-left-content p {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  font-size: 1.2vw;
  text-shadow: 1px 1px 2px black;
}
.providers-container p {
  text-shadow: 1px 1px 2px red;
  font-size: 1vw;
  letter-spacing: 1px;
}

.rating {
  margin-right: 14px;
}

.movie-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

.movie-right-content {
  display: flex;
  margin-right: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 0;
}

.trailer {
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-bottom: 25px;
}

.no-trailer {
  display: flex;
  justify-content: space-between;
  letter-spacing: 1.5px;
  font-size: 18px;
  text-shadow: 2px 0.5px 1px #000;
  gap: 7rem;
}


@media screen and (max-width: 1470px) {
  .movie-left-content h1,
  .movie-left-content h2 {
    font-size: 2.2vw;
  }

  p,
  .movie-left-content p {
    font-size: 1.5vw;
  }
  .movie-right-content {
    margin-right: 55px;
  }

  .no-streaming-paragraph-movie-details {
    font-size: 1.7vw;
  }

  .trailer {
    height: 40%;
    width: 100%;
    margin: 20px auto;
  }
  .providers-container p {
    text-shadow: 1px 1px 2px red;
    font-size: 1.5vw;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 1024px) {
  .movie-left-content h1,
  .movie-left-content h2 {
    font-size: 2.4vw;
  }

  p,
  .movie-left-content p {
    font-size: 1.9vw;
  }
  .movie-right-content {
    margin-right: 80px;
  }

  .no-streaming-paragraph-movie-details {
    font-size: 2.5vw;
  }

  .trailer {
    width: 100%;
    height: 30%;
    margin: 15px auto;
    margin-right: -30px;
  }
  .providers-container p {
    text-shadow: 1px 1px 2px red;
    font-size: 1.9vw;
    letter-spacing: 1px;
  }
}
@media screen and (max-width: 900px) {
  .trailer {
    width: 100%;
    height: 25%;
    margin: 15px auto;
    margin-right: -45px;
  }
}

@media screen and (max-width: 768px) {
  .movie-content-container {
    flex-direction: column;
    align-items: center;
  }

  .trailer {
    width: 80%;
    height: auto;
    margin: 20px auto;
  }

  .movie-left-content {
    width: 100%;
    margin: 0 15px;
    order: 2;
    text-align: center;
    margin-bottom: 40%;
  }

  .movie-right-content {
    width: 100%;
    margin: 0 auto;
    order: 1;
    text-align: center;
    padding-top: 50%;
  }

  .movie-left-content h1,
  .movie-left-content h2 {
    font-size: 3vw;
  }

  p,
  .movie-left-content p {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 2.2vw;
  }

  .no-streaming-paragraph-movie-details {
    font-size: 3.3vw;
  }
  .providers-container p {
    text-shadow: 1px 1px 2px red;
    font-size: 2.2vw;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 480px) {
  .movie-content-container {
    flex-direction: column;
    align-items: center;
  }

  .trailer {
    width: 90%;
    height: auto;

  }


  .movie-left-content {
    width: 100%;
    margin: 0 15px;
    order: 2;
    text-align: center;
    margin-bottom: 40%;
  }

  .movie-right-content {
    width: 100%;
    margin: 0 auto;
    order: 1;
    text-align: center;
    padding-top: 40%;
  }

  .movie-left-content h1,
  .movie-left-content h2 {
    font-size: 5vw;
  }

  p,
  .movie-left-content p {
    font-size: 3.2vw;
    margin-right: 20px;
    margin-left: 20px;
  }

  .no-streaming-paragraph-movie-details {
    font-size: 3vw;
  }
  .providers-container p {
    text-shadow: 1px 1px 2px red;
    font-size: 3.2vw;
    letter-spacing: 1px;
  }
}
@media screen and (max-width: 457px) {
  .movie-content-container {
    flex-direction: column;
    align-items: center;
  }

  .trailer {
    width: 90%;
    height: auto;
    margin: 20px auto;
  }

  .movie-left-content {
    width: 100%;
    margin: 0 15px;
    order: 2;
    text-align: center;
    margin-bottom: 80%;
  }

  .movie-right-content {
    width: 100%;
    margin: 0 auto;
    order: 1;
    text-align: center;
    padding-top: 80%;
  }

  .movie-left-content h1,
  .movie-left-content h2 {
    font-size: 5.2vw;
  }

  p,
  .movie-left-content p {
    font-size: 4vw;
    margin-right: 10px;
    margin-left: 10px;
  }

  .providers-container p {
    font-size: 4vw;
  }
}

@media screen and (max-width: 380px) {
  .movie-content-container {
    flex-direction: column;
    align-items: center;
  }
  .movie-left-content {
    width: 100%;
    margin: 0 15px;
    order: 2;
    text-align: center;
    margin-bottom: 65%;
  }

  .movie-right-content {
    width: 100%;
    margin: 0 auto;
    order: 1;
    text-align: center;
    margin-top: 3%;
  }
  .trailer {
    width: 90%;
    height: 80%;
    margin: 20px auto;
  }

  .movie-left-content h1,
  .movie-left-content h2 {
    font-size: 4.7vw;
  }

  p,
  .movie-left-content p {
    font-size: 3.4vw;
    margin-right: 10px;
    margin-left: 10px;
  }

  .providers-container p {
    font-size: 3.2vw;
  }
}

@media screen and (max-height: 667px) {
  .movie-right-content {
    width: 100%;
    margin: 0 auto;
    order: 1;
    text-align: center;
    margin-top: 25%;
  }
}