.filters {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 50px;
    font-size: 17px;
    font-weight: 500;
    margin-left: 35px;
}


.filters > div {
    display: flex;
    gap: 1rem;
}