@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


body {
  background: #202020;
  color: white;
  font-family: "Roboto", sans-serif;
  width: auto;
  height: 100%;
  justify-content: center;
  align-items: center;
}

html {
  width: auto;
  height: 100%;
}

.logo-img {
  width: 200px;
  max-width: 100%;
}

.user-icon {
  margin-right: 1px;
  width: 40px;
}

.navbar-toggle,
.navbar-toggler-icon {
  background-color: white;
  font-size: 24px;
  color: #ffffff;
  padding: 0;
  z-index: 1000;
}

.navbar-div {
  position: sticky;
  top: 0;
  z-index: 1000;
}


.navbar {
  background-color: #202020 !important;
  position: sticky !important;
  width: 100% !important;
  padding-left: 30px;
  padding-right: 40px;
  z-index: 1000;
}

.dropdown-item {
  z-index: 1000;
}

.container-nav {
  margin: 0;
  padding: 0 20px;
}

.nav-link {
  color: white !important;
}


.discover-header {
  margin-bottom: 15px;
}

/* Login Page */

.form-div {
  height: 100%;
  margin-top: 10vh;
  width: 20%;
}

.username-icon {
  background-image: url(./assets/username-icon.png);
  background-repeat: no-repeat;
  background-position: 4px 4px;
  background-size: 28px;
}
.password-icon {
  background-image: url(./assets/password-icon.png);
  background-repeat: no-repeat;
  background-position: 6px 7px;
  background-size: 23px;
}

/* Home Page, Popular movies page  */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* O ajusta la altura según tus necesidades */
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  padding-left: 0;
  margin-right: 0;
  position: relative;
  z-index: 999;
}


/* New Releases - Movies*/
.release-date {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
}

.neonred {
  color: whitesmoke;
  font-size: 17.55px;
  text-shadow: 0px 0px 10px #ff1e00;
  letter-spacing: 1.5px;
}

.link {
  text-decoration: none;
}



@media (max-width: 480px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    padding-left: 0;
    margin-right: 0;
    position: relative;
    z-index: 1;
  }
  

  .form-div {
    height: 60%;
    width: 80%;
    margin: 0;
    margin-top: 9vh;
  }



  .navbar {
    padding-left: 35px;
    padding-right: 35px;
  }


  .navbar-brand {
    margin: 0 auto;
  }

  .navbar-collapse {
    flex-basis: 100%;
  }

  .navbar-nav {
    width: 100%;
    flex-direction: column;
  }

  .logo-img {
    width: 150px;
  }
}


@media (max-width: 768px) {

  .form-div {
    height: 60%;
    width: 80%;
    margin: 0;
    margin-top: 9vh;
  }



  .navbar {
padding: 17px;
  }
  .navbar-toggler {
    order: -1;
    margin-right: 0;
    padding-right: 0;
  }

  .navbar-brand {
    margin: 0 auto;
  }

  .navbar-collapse {
    flex-basis: 100%;
  }

  .navbar-nav {
    width: 100%;
    flex-direction: column;
  }

  .logo-img {
    width: 150px;
  }

  .user-icon-container {
    margin-left: auto;
    margin-top: -10px;
  }
}
@media (max-width: 1201) {
  .form-div {
    height: 60%;
    width: 80%;

  }
  .navbar {
    padding-left: 35px;
    padding-right: 35px;
  }
}

